body {
    font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5 {
        font-family: 'Bitter', serif; }


.carousel-caption {
        background-color: rgba(0, 0, 0, 0.5); }

.jumbotron {
    margin: 200;
    padding: 30px;
    background-image: linear-gradient(to right, #E6DDC4, #d4ac2b, #533535);
    color: white; }


nav {
    font-size: 20px;
}

.row-content {
    padding: 40px 0;
    margin-left: 40px;
    margin-right: 40px;
     }

.site-footer {
    
    background-color:black;
    color: white;    
    padding: 20 px; 
} 
    



